@font-face {
	font-family: 'crimsonroman';
	src: url('../fonts/WOFF/crimsonroman/crimson-roman-webfont.woff2') format('woff2'),
	url('../fonts/WOFF/crimsonroman/crimson-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: black;
	font-size: 30px;
}

a:hover {
	color: teal;
}

body, html {
	background-image: url("../static/the-lovers2.png");
	background-size: cover;
}
