@font-face {
	font-family: 'crimsonroman';
	src: url('../fonts/WOFF/crimsonroman/crimson-roman-webfont.woff2') format('woff2'),
	url('../fonts/WOFF/crimsonroman/crimson-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 30px;
	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:hover {
	color: #6495ED;
}

body, html {
	background-image: url("../static/nocturne.jpg");
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}