pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    width:50%;
}


body {
    font-size: 100%;
}

div.transbox {
    margin: 90px;
    background-color: #C21E56;
    border: 0px solid black;
    opacity: 0.7;
    padding: 25px 25px 25px 25px;  
}
   
div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: black;
}